.stats {
  display: flex;
  justify-content: space-around;
  padding: 2rem 5%;
  background-color: #1a202c;
  color: #ffffff;
  text-align: center;
}

.stat-item h2 {
  color: #ecc94b;
  font-size: 2rem;
  margin: 0;
}

.stat-item p {
  margin-top: 0.4rem;
  font-size: 0.7rem;
}